// px2rem(1.2rem)
// px2rem(1.2rem 1.2rem ) px2rem(1.2rem auto)
// px2rem(1.2rem 1.3rem 1.3rem) px2rem(1.2rem auto 1.3rem)
// px2rem(1.2rem 1.3rem 1.4rem 1.5rem)
@function rem2px($items, $base:64) {
	$result: null;
	@each $item in $items {
		@if type-of($item) == number {
			@if $item == 0 {
				$result: append($result, 0);
			}
			@else {
				$result: append($result, unquote($item/$base + 'rem'));
			}
		}

		@else {
			$result: append($result, $item);
		}
	}
	@return $result;
}