@import '../../scss/functions.scss';
@import '../../scss/css-mix.scss';
html {background: #ffcddc url('背景图') no-repeat top;background-size: contain;}
html {background-color: #ffcddc;}
#app{text-align:;color:#333;}
.fs0 {font-size: 0;}
[v-cloak] {display: none;}