html {
	background-color: #ff0012;
}

#app {
	text-align: center;
	color: #fff;
}

.banner {
	height: px2rem(480);
	position: relative;
}

.banner>.notice {
	width: px2rem(640);
	position: absolute;
	height: px2rem(32);
	line-height: px2rem(32);
	color: #000;
	bottom: px2rem(8);
}

.banner>.act-rule {
	position: absolute;
	width: px2rem(126);
	height: px2rem(40);
	line-height: px2rem(40);
	background-color: #fff;
	color: #ff0014;
	top: px2rem(8);
	right: px2rem(8);
	border-radius: px2rem(100);
	background-clip: padding-box;
}

.modal {
	z-index: 1001;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: px2rem(512);
	padding: px2rem(50) px2rem(32) px2rem(26);
	border-radius: px2rem(8);
	background-clip: padding-box;
	color: #333;
	background-color: #fff;
	word-break: break-all;
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
}

.modal>.win-close {
	width: px2rem(28);
	height: px2rem(28);
	position: absolute;
	right: px2rem(20);
	top: px2rem(20);
}

.modal>.title {
	line-height: px2rem(48);
	color: #333;
	text-align: left;
}

.modal>.btn-wrap {
	margin-top: px2rem(20);
}

.modal>.btn-wrap>.btn {
	height: px2rem(80);
	line-height: px2rem(80);
	background-image: linear-gradient(-146deg, #FF1155 0%, #FFAA00 100%);
	border-radius: px2rem(100);
	background-clip: padding-box;
	color: #fff;
	text-align: center;
}

.modal>.btn-wrap>.btn.big {
	width: 100%;
}

.modal>.btn-wrap>.btn.no-active {
	opacity: 0.5;
}

[v-cloak] {
	display: none;
}

body {
	overflow: hidden;
}

#app {
	padding-bottom: px2rem(64);
}

.fs0 {
	font-size: 0;
}

.team-wrap {
	width: px2rem(600);
	background: #D40000;
	border-radius: px2rem(6);
	background-clip: padding-box;
	margin: px2rem(20) auto;
	padding: px2rem(44) 0;
	position: relative;
}

.team-wrap>.title {
	height: px2rem(40);
	line-height: px2rem(40);
	margin-bottom: px2rem(8);
}

.team-wrap>.title>.order_number {
	color: #D40000;
	display: inline-block;
	width: px2rem(40);
	height: px2rem(40);
	background: #FFFFFF;
	border-radius: px2rem(8);
	background-clip: padding-box;
	margin: 0 px2rem(4);
}

.team-wrap>.total-team-number {
	color: #F5A623;
}

.team-wrap>.team-detail {
	margin: px2rem(40) px2rem(70) 0;
}

.team-wrap>.reward-result {
	height: px2rem(48);
	line-height: px2rem(48);
	margin-top: px2rem(8);
}

.team-wrap>.btn-hb {
	width: px2rem(520);
	height: px2rem(88);
	margin: 0 auto;
}

.team-detail .pic-wrap {
	width: px2rem(140);
	margin: 0 auto;
	position: relative;
	height: px2rem(144);
}

.team-detail .pic-wrap>img {
	border: 1px solid #fff;
	border-radius: px2rem(100);
	background-clip: padding-box;
	background-color: #fff;
	overflow: hidden;
	height: 100%;
}

.team-detail .pic-wrap>.delete-person-wrap {
	width: px2rem(148);
	height: px2rem(148);
	background: rgba(0, 0, 0, 0.5);
	border-radius: px2rem(100);
	background-clip: padding-box;
	border: 1px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
}

.team-detail .pic-wrap>.delete-person-wrap>img {
	width: px2rem(56);
	height: px2rem(56);
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.team-detail .userNick {
	width: 100%;
	height: px2rem(34);
	line-height: px2rem(34);
	margin-top: px2rem(12);
}

.team-detail .order-number {
	height: px2rem(48);
	line-height: px2rem(48);
}

.team-detail .order-number>.number {
	display: inline-block;
	width: px2rem(22);
	height: px2rem(48);
	margin: 0 px2rem(4);
}

.team-detail .order-number span {
	display: inline-block;
}

.team-detail>.empty>.invite-firend {
	color: #F8E71C;
	height: px2rem(40);
	line-height: px2rem(40);
	margin-top: px2rem(20);
}

.team-wrap>.team-detail>.item,
.team-detail>.empty {
	width: px2rem(180);
	height: px2rem(232);
	text-align: center;
	margin-bottom: px2rem(36);
}

.team-detail-reward {
	width: px2rem(400);
	margin: px2rem(32) auto;
}

.team-detail-reward>.item {
	margin-bottom: px2rem(40);
}

.team-detail-reward>.item>.pic-wrap {
	width: px2rem(104);
	height: px2rem(104);
	position: relative;
	margin-right: px2rem(40);
}

.team-detail-reward>.item>.pic-wrap>img {
	width: px2rem(100);
	height: px2rem(100);
	border: 1px solid #fff;
	border-radius: px2rem(100);
	background-clip: padding-box;
	background-color: #Fff;
	height: 100%;
}

.team-detail-reward>.item>.reward-info {
	width: px2rem(256);
	height: px2rem(86);
	text-align: left;
	margin-top: px2rem(20);
}

.team-detail-reward>.item>.reward-info>.userNick {
	height: px2rem(34);
	line-height: px2rem(34);
	margin-bottom: px2rem(4);
}

.team-detail-reward>.item>.reward-info>.hb-amount {
	height: px2rem(48);
	line-height: px2rem(48);
	overflow: hidden;
}

.team-detail .pic-wrap>.team-leader-icon,
.team-detail-reward>.item>.pic-wrap>.team-leader-icon {
	width: px2rem(80);
	height: px2rem(32);
	line-height: px2rem(28);
	border: 1px solid #FFFFFF;
	position: absolute;
	bottom: 0;
	right: 0;
}

.control-team {
	position: absolute;
	bottom: 0;
	left: 0;
}

.control-team>.btn {
	width: px2rem(136);
	height: px2rem(48);
	line-height: px2rem(48);
	text-decoration: underline;
	background: rgba(0, 0, 0, 0.5);
	border-bottom-left-radius: px2rem(6);
	border-top-right-radius: px2rem(6);
	background-clip: padding-box;
}

.control-team>.control-team-list {
	width: px2rem(136);
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: px2rem(6);
	background-clip: padding-box;
	margin-bottom: px2rem(16);
	overflow: hidden;
}

.control-team>.control-team-list::after {
	content: "";
	position: absolute;
	bottom: -pxpx2rem(128)(13);
	width: 0;
	height: 0;
	border-top: px2rem(13) solid #000;
	border-right: px2rem(13) solid transparent;
	border-left: px2rem(13) solid transparent;
}

.control-team>.control-team-list>.item {
	width: px2rem(136);
	height: px2rem(116);
	padding: px2rem(20) 0;
}

.control-team>.control-team-list>.item>.pic-wrap {
	width: px2rem(44);
	height: px2rem(44);
	margin: 0 auto;
}

.control-team>.control-team-list>.item:last-of-type {
	margin-bottom: px2rem(32);
}

.control-team>.control-team-list>.item>.account {
	margin-top: px2rem(8);
	height: px2rem(32);
	line-height: px2rem(32);
}

.comment-content {
	width: px2rem(600);
	margin: px2rem(20) auto 0;
	background: #FFF8EC;
	border-radius: px2rem(6);
	background-clip: padding-box;
	overflow: hidden;
}

.comment-content>.editor-content {
	width: px2rem(560);
	height: px2rem(64);
	margin: px2rem(20) auto 0;
	overflow: hidden;
}

.comment-content>.editor-content>.comment-editor {
	width: px2rem(400);
	height: px2rem(64);
	line-height: px2rem(40);
	padding: px2rem(12) px2rem(20);
	border-radius: px2rem(100);
	background-clip: padding-box;
	background: #FFF;
	border: 1px solid #FF0012;
	float: left;
	-webkit-appearance: none;
}

.comment-content>.editor-content>.btn-comment {
	width: px2rem(140);
	height: px2rem(64);
	line-height: px2rem(64);
	float: right;
}

.comment-content>.editor-content>.btn-comment.no-active {
	opacity: 0.5;
}

.team-detail .pic-wrap>.team-leader-icon,
.team-detail-reward>.item>.pic-wrap>.team-leader-icon {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EC0000), to(#D40000));
	background-image: linear-gradient(-180deg, #EC0000 0%, #D40000 100%);
	border-radius: px2rem(100);
	background-clip: padding-box;
}

.comment-content>.editor-content>.btn-comment,
.modal>.btn-wrap>.btn.small.gray::after {
	background-image: linear-gradient(-146deg, #FF1155 0%, #FFAA00 100%);
	border-radius: px2rem(100);
	background-clip: padding-box;
}

.comment-list {
	width: px2rem(522);
	margin: px2rem(52) auto 0;
}

.comment {
	margin-bottom: px2rem(52);
	overflow: hidden;
}

.comment>.pic-wrap {
	width: px2rem(60);
	height: px2rem(60);
	float: left;
	border-radius: px2rem(100);
	overflow: hidden;
	background-color: #fff;
}

.comment>.content {
	margin-left: 20px;
	float: left;
	color: #999;
	text-align: left;
	width: px2rem(420);
}

.comment>.content>.nick-name {
	line-height: px2rem(40);
	height: px2rem(40);
}

.comment>.content>.time {
	height: px2rem(34);
	line-height: px2rem(34);
}

.comment>.content>.desc {
	color: #333;
	line-height: px2rem(40);
	word-break: break-all;
	margin: px2rem(10) 0;
}

.emoji {
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	top: 3px;
	margin-left: 1px;
}

.modal>.btn-wrap>.btn.small.gray {
	width: px2rem(204);
	height: px2rem(76);
	color: #F4436D;
	background: #fff;
	position: relative;
}

.modal>.btn-wrap>.btn.small.gray::after {
	width: px2rem(208);
	height: px2rem(80);
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: -1;
}

.modal>.btn-wrap>.btn.small {
	width: px2rem(208);
}

.modal .copy-title {
	height: px2rem(48);
	line-height: px2rem(48);
	margin-bottom: px2rem(20);
}

.modal>.team-code {
	width: px2rem(512);
	height: px2rem(60);
	line-height: px2rem(60);
	position: relative;
	left: 50%;
	top: 0;
	background-color: #eee;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	color: #FF0012;
}

.modal>.account {
	color: #666;
	line-height: px2rem(40);
	margin-top: px2rem(20);
	text-align: left;
}

.no-comment {
	line-height: px2rem(40);
	margin: px2rem(80) 0 px2rem(120);
	color: #333;
}

#backdrop {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .6;
	background-color: #000;
}